@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Playfair+Display:wght@700&display=swap');


/* Global Styles */

html{
    margin: 0%;
    padding: 0%;
}

main{
    position: relative;
    top: 80px;
}

*{
    font-family: 'Open Sans', Sans Serif;
    font-size: 16px;
    font-weight: 400;
}


body{
    margin: 0%;
    padding: 0%;
}

h1,h2{
    font-family: "Playfair Display", serif;
    font-weight: 700;
    margin: 0%;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 2rem;
    font-weight: 600;
    margin: 0%;
}
h4{
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0%;
}

h6{
    font-size: .75rem;
    margin: 0%;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: coral;
}
a:active{
    color: #c96f3d;
}

@media only screen and (max-width: 480px){
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1rem;
    }
    h3{
        font-size: 1rem;
        font-weight: 400;
    }
    h4{
        font-size: .70rem;
    }
    h6{
        font-size: .6rem;
    }
}

/* Nav Section */

header{
    background-color:#0B0D17;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    color: #FBFBFC;
    margin: 0;
    padding: 0%;
    flex: 1;
    z-index: 1;
    overflow: scroll;
}

header .logo{
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color:#0B0D17;
    margin-left: 1rem;
    padding: 0%;
    width: 100%
}

header .logo h6{
    color: #B7B8BC;
}

header nav ul{
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    align-items: center;
    padding: 0%;
}

header nav li{
    display: flex;
    margin-left: 3rem;
}

header button{
    background-color: coral;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-weight: 600;
}

.logoonly{
    display: none;
}

@media only screen and (max-width:480px){
     header{
        overflow: scroll;
    }
    header nav{
        margin: 0%;
        padding: 0%;
    }
    
    header nav ul{
        margin: 0px 1rem 0px 0px;
    }

    header nav li{
        margin-left: 2rem;
        font-size: .7rem;
    }

    header button{
        background: none;
        color: coral;
        padding: 0%;
        font-size: .7rem;

    }

    header .logo{
        display: none;
    }

    .logoonly{
        display: block;
        margin-left: 20px;
        margin-right: 0px;
        text-align: center;
    }

}
/* mission Section */

.mission{
    display: block;
    background-image: url('../Images/Road.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 550px;
    max-height: 800px;
    padding-top: 80px;
    padding-left: 50px;
    flex: 1;
    width: 100%;
}

.missionstatement{
    color: white;
    max-width: 800px;
    line-height: 2;
    margin: 0%;
}

.missionstatement h2{
    color: coral;
}

@media only screen and (max-width:480px){
    .mission{
        display:flex;
        max-height: 300px;
        justify-content: center;
        align-content: center;
        width: auto;
        text-align: center;
        padding: 0;
    }

    .missionstatement{
        padding-top: 130px;
    }
}

/* Projects */

.projectssection{
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 20px;
}

.projectssection h2{
    margin-bottom: 20px;
}
.projects{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    background-color: coral;
    background-blend-mode: lighten;
}

.project{
    width: 300px;
    min-height: 300px;
    display: flex;
    align-items: flex-end;
}

.description {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    width: 100%;
    margin: 0;
    padding: 30px 30px;
    height: 15%;
    line-height: .2;
    flex:1;
    align-items: center;
}

#autonomusdriving{
    background-image: url('../Images/maximalfocus-HakTxidk36I-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: 1;
}

#futurevision{
    background-image: url('../Images/drmakete-lab-hsg538WrP0Y-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: 5;
}

#businessopportunity{
    background-image: url('../Images/aaron-huber-KxeFuXta4SE-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: 5;
}

#vegancommunication{
    background-image: url('../Images/vegan-definition-image-istock.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: 1;
}

#materials{
    background-image: url('../Images/Hemp-products-compilation_-studio-LAYER_-scale.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: 1;
}

@media only screen and (max-width:480px){
    .projectssection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        flex-wrap: nowrap;
    }

    .projects{
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 100%;
    }

    .project{
        width: 100%;
    }

}

/* Team */

.teamsection{
    display: flex;
    margin: 0px auto;
    padding: 50px 20px;
    background-color: rgba(0, 0, 0, 0.85);
    align-content: center;
    justify-content: center;
}

.teamscontent{
    margin: 0px auto;
}

.teamsection h2{
color: white;
margin-bottom: 20px;
}
.members{
    display: flex;
    justify-content:center;
    align-content: center;
    width: auto;
    flex-wrap: wrap;
    gap:5px;
    background-color: coral;
}

.member{
    padding:0%;
    margin: 0%;
    min-width: 300px;
    max-width: 350px;
    min-height: 400px;
    display: flex;
    align-items: flex-end;
}

#benniallan{
    background-image: url('../Images/benni-allan.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: 1;
}

#azusamurakami{
    background-image: url('../Images/azuza.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: 1;
}

#freddycibils{
    background-image: url('../Images/IMG_0309\ 2.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: 1;
}

#alexandergroves{
    background-image: url('../Images/alex.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: 1;
}

@media only screen and (max-width: 480px){
    .members{
        flex-direction: column;
    }

    .teamscontent{
        text-align: center;
    }
}

/* Contact Info */

.contactsection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1000px;
    max-height: 500px;
    margin: 50px auto;
    padding: 0 20px;
    flex: 1;
    flex-shrink: 1;
    overflow: hidden;
}

.contactsection img{
    max-height: 400px;
    border: 3px solid coral;
   
}

@media only screen and (max-width: 480px){
    .contactsection img{
        max-height: 300px;
    }

    .contactsection{
        text-align: center;
    }
}

/* Footer Section */

.footer{
    display: flex;
    background-color:#0B0D17;
    color: gray;
    justify-content: center;
    align-items: center;
    height: 70px;
    flex: 1;
}

@media only screen and (max-width: 480px){
    .footer{
        text-align: center;
    }

    .footer p{
        font-size: .6rem;
    }
}

